.header {
    background-color: #131921 !important;
    padding: 10px 0;
  }
  
  .header__logo {
    font-size: 50px;
    width: 100px;
    object-fit: contain;
    margin-right: 40px;
  }
  
  .header__nav-link {
    color: white !important;
    text-decoration: none;
    padding: 0 10px;
  }




  
  .header__option {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
  }
  
  .header__optionLineOne {
    font-size: 12px;
    color: #ccc;
  }
  
  .header__optionLineTwo {
    font-size: 14px;
    font-weight: 700;
  }
  
  .header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
  }
  
  .header__basketCount {
    margin-left: 5px;
    font-size: 14px;
  }
  
  .search-button {
    background-color: #febd69;
    border: none;
    padding: 0 10px;
    border-radius: 0 4px 4px 0;
  }
  .search-button:hover {
    background-color: #f3a847;
  }
  .store-icon{
    font-size: 50px;
  }

  .brand-text{
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
  }

